<% is_following = current_user.follows?(user) %>

<form action="<%= user_follow_url(user) %>" method="POST">
  <%= render "shared/auth_token" %>

  <% if is_following %>
    <input type="hidden" name="_method" value="DELETE">
  <% end %>
  
  <button
    class="follow-toggle"
  >
    <%= is_following ? "Unfollow!" : "Follow!" %>
  </button>
</form>